header{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}

nav{
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.logo{
    width: 600px;
    font-size: 36px;
    opacity: 1;
    transition: .5s ease;

    &:hover{
        opacity: .6;
    }
}

span{
    color: $green;
}

ul.navlinks{
    float: right;
}

.navlinks{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

li.links{
    text-decoration: none;
    list-style: none;
    display: inline;
}

.links{
    padding-left:30px;
}

.link{
    color: $white;
    transition: .5s ease;
    display: inline-block;
    position: relative;
    
    &::after{
        content: '';
        display: block;

        position: absolute;
        top: 120%;
        left: 0;

        width: 0%;
        height: 1.5px;

        transform: translate(0%, -30%);
        transition: .5s ease;

        background-color: $green;
    }

    &:hover{
        opacity: .6;

        &::after{
        
            width: 100%;
            
        }
    }

}

main{
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.cabecalho{
    margin-top: 60px;
}

.container{
    width: 1200px;
    height: 600px;
    margin-top: 40px;
    background-color: $white;
    border-radius: 20px;
}

ul.calculadora{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}

li.calc{
    padding: 24px 0px;
}

a.calc-link{
    padding: 24px 66.9px;
    text-decoration: none;
    color: $gray;
    font-weight: bold;
}

.calc-1{
    border: 1px solid $white-gray;
    background-color: $white-dark;
    border-radius: 20px 0px 0px 0px;
    transition: .5s ease;
    &:hover{
        border: 1px solid $white;
        background-color: $white;
    }
}

.calc-2{
    border: 1px solid $white-gray;
    background-color: $white-dark;
    transition: .5s ease;
    &:hover{
        border: 1px solid $white;
        background-color: $white;
    }
}

.calc-3{
    border: 1px solid $white-gray;
    background-color: $white-dark;
    transition: .5s ease;
    &:hover{
        border: 1px solid $white;
        background-color: $white;
    }
}

.calc-4{
    border: 1px solid $white-gray;
    background-color: $white-dark;
    transition: .5s ease;
    &:hover{
        border: 1px solid $white;
        background-color: $white;
    }
}

.calc-5{
    border: 1px solid $white-gray;
    background-color: $white-dark;
    border-radius: 0px 20px 0px 0px;
    transition: .5s ease;
    &:hover{
        border: 1px solid $white;
        background-color: $white;
    }
}


.cont{
    display: flex;
}

.cont-1{
    width: 450px;
    height: 533px;
    margin-top: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
}

.subcont-1{
    width: 185px;
    height: 185px;
    background-color: $white-gray;
    border: 3px solid $white-gray;
    border-radius: 10px;
    padding: 36px 24px;

    &:hover{
        background-color: $white;
        border: 3px solid $green;
    }
}

.subcont-1 p{
    font-size: 20px;
    font-weight: bold;
    color: $gray;
}

.subcont-2{
    width: 185px;
    height: 185px;
    background-color: $white-gray;
    border: 3px solid $white-gray;
    border-radius: 10px;
    padding: 36px 24px;

    &:hover{
        background-color: $white;
        border: 3px solid $green;
    }
}

.subcont-2 p{
    font-size: 20px;
    font-weight: bold;
    color: $gray;
}

.cont-2{
    width: 600px;
    height: 533px;
}